@font-face {
    font-family: 'domine';
    src: url('static/Domine-Bold.ttf');
}

nav {
    
    background-color: rgb(2,3,129);
}

.nav-link, .navbar-brand {
    color:white;
}

.btn-outline-success {
    --bs-btn-color:#0d6efd;
    --bs-btn-border-color:#f8f9fa;
    --bs-btn-hover-color:#084298;
    --bs-btn-hover-bg:#0dcaf0;
}